/* Header section */

  .navbar-nav{ 
        left:38%;
        position:relative;
        margin-top:10px;
        list-style: none;
        line-height: 10em;
        height:1em;
        font-family:Arial, Helvetica, sans-serif;
        display:block;
        transition:0.5s;    
     }

  .nav-item{
        float: left;
        }

  .nav-link{
    flex:1;
    color:lightslategray;
    font-size: 27px;
    padding-left: 17px;
    text-decoration: none;
  }
/*hover effect*/

  .nav-link:hover 
      { 
         color: black;; 
      }            
  .nav-link:active
      {
      color:lightslategray;
      }

/* For logo */

  #logo{
          width:15em;
          height:8em;
          position: relative;
          float: left;
          margin: 10px 10px 10px 10px;
      }

/* Home section css */
    
  #bimg{
        width:114em;
        height:50em;
        margin:0px;
        padding:0px;
    }
/*to make what we serve in center*/
  .cen{ 
    text-align: center;
    }

 /*services css */

  body h1{
      font-family: 'Times New Roman', Times, serif;
    }

/* grid for ervice section */

  :root{
        --var-justify-content: 'start';
        --var-align-content: 'start';
    }
     
   #services{
      width: 114em;
      height:50em;
      padding:0px;
      margin:0px;
    }

  .container{
        display: grid;
       
        align-content: var(--var-align-content);
        justify-content: var(--var-justify-content);
        grid-template-columns:25em 25em 25em ;
        grid-template-rows: 21em 21em 21em;
        column-gap: none;
        row-gap: none;
        background-color: white;
        padding: 5px;
        max-width: 75rem;
        block-size: 43em;
        margin-left: 300px;
        margin-top: 50px; 
    }

  .box{
        background-color: rgba(255, 255, 255, 0.8);
        border: 2px solid grey;
        padding: auto;
        font-size: 30px;
        text-align: center;
        font-family: inherit; 
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: grey;
        border-bottom-color: transparent;
    }

    .box:nth-child(-n+3){
        border-bottom: 1px solid grey;
    }

    .box:nth-child(3n-3){
        border-right-color: transparent;
    }

    .custom-image{
      height:140px;
      width:250px;
    }

    .mainhead{
      padding-left: 125%; 
        }

/*for details of services*/

    .gridpara{
        font-size:1rem
      }     
      
/*for statistics section*/

  .statistic{ 
    display:block;
    width: 114em;
    height:28em;
    padding:0px;
    margin:0px;
    background: linear-gradient(to right, #0b1635, #0d5ca0);
  }
  
  
        
      